body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(212, 196, 212);
}

.logo {
  font-size: 35px;
}

.nav_hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 46px;
  height: 30px;
  justify-content: space-between;
  border: none;
  background-color: rgb(212, 196, 212);
}

.nav_hamburger:hover {
  opacity: 0.4;
}

.nav_hamburger div {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background-color: black;
}

.nav {
  display: none;
}

.nav_toggle {
  display: flex;
  flex-direction: column;
  display: none;
}

.nav_link_toggle:hover {
  opacity: 0.4;
}

.nav_toggle_div {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  margin-top: 30px;
}

.nav_link_toggle {
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.title_text {
  display: flex;
  margin: 40px 40px 0 40px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


@media screen and (min-width: 700px) and (max-width: 1000px) {
  .nav_hamburger, .nav_toggle_div {
    display: none;
  }
  
  .nav {
    display: flex;
  }

  .nav_link:hover {
    opacity: 0.4;
  }

  .nav_link {
    margin: 20px;
  }
}

@media screen and (min-width: 1000px) {
  
  .nav {
    display: flex;
  }

  .nav_link {
    padding: 20px;
  }

  .nav_link:hover {
    opacity: 0.4;
  }

  .nav_hamburger, .nav_toggle_div {
    display: none;
  }

  .logo {
    justify-content: center;
  }

  .title_text {
    margin-top: 50px;
  }
} 
